.calc {
  position: relative;
  top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto 20px auto;
  width: 290px;
  background: #00d0ffab;
  min-height: 400px;
  box-shadow: 0 8px 50px -7px black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top: 2px solid black;
  border-bottom-left-radius: 20px 255px;
  border-bottom-right-radius: 225px 20px;
  border-top-left-radius: 255px 20px;
  border-top-right-radius: 20px 225px;
}

.show-calculation {
  display: flex;
  margin: 25px 25px;
  color: rgb(01, 01, 01);
  flex-direction: column;
}

.result-calculation {
  font-size: 20px;
  flex: 1;
  display: flex;
  justify-content: right;
}

.final-result {
  font-size: 30px;
  margin-top: 5px;
  display: flex;
  color: white;
  justify-content: right;
}

.button-layout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.box::after {
  content: "";
  width: 4px;
  height: 40px;
  background: black;
  display: inline-block;
  animation: cursor-blink 0.8s steps(2) infinite;
}
