.gahhomar-container {
  background-image:radial-gradient(rgba(0, 255, 8, 0.44),rgba(255, 217, 0, 0.566));
  top: 4.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.555);
  min-height: 64.5vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.gah-row {
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000,
    1px 1px 0 #000;
  color: white;
  font-size: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.gah-row-clock {
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000,
    1px 1px 0 #000;
  font-size: 6rem;
  color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

  @media screen and (max-width: 768px) {
    .gahhomar-container {
      top: 6rem;
      width: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: 0px;
      border-radius: 0px;
    }
  }


  .gah-n .bth-con #gooey-button {
    background-color: #970df3b7;

  }
  .gah-n .bth-con #gooey-button .bubbles .bubble {
    background-color: #970df3b7;
  }

  .gah-n .bth-con #water-d {
    display: none;
  }